---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-movies
spec:
  storageClassName: media-movies
  volumeName: media-movies-vol
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 1Mi
