---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-tv-claim
spec:
  storageClassName: media-tv
  volumeName: media-tv-vol
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 1Mi
