---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media
spec:
  storageClassName: media_music
  volumeName: media_music
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 1Mi
