---
apiVersion: v1
kind: Secret
metadata:
  name: youtarr-secrets
  namespace: media
stringData:
  POSTGRES_USER: "{{ database_postgresql_username }}"
  POSTGRES_PASS: "{{ database_postgresql_password }}"
  POSTGRES_HOST: "{{ database_postgresql_hostname }}"
