#jinja2: trim_blocks: True, lstrip_blocks: True
---
apiVersion: v1
kind: Secret
metadata:
  name: wg-easy-secret
  namespace: wg-easy
type: Opaque
stringData:
  # init-mode credentials for the wg-easy admin UI
  # (see `wg_easy.username` / `wg_easy.password` in bootstrap/vars/addons.yaml)
  username: "{{ wg_easy.username }}"
  password: "{{ wg_easy.password }}"
