---
apiVersion: v1
kind: Secret
metadata:
  name: firefly-iii-secrets
stringData:
  POSTGRES_USER: "{{ database_postgresql_username }}"
  POSTGRES_PASS: "{{ database_postgresql_password }}"
  POSTGRES_DB: "{{ home_firefly3_db_name }}"
  POSTGRES_HOST: "{{ database_postgresql_hostname }}"
  APP_KEY: "{{ home_firefly3_app_key }}"
  API_KEY: "{{ home_firefly3_access_token }}"
