---
apiVersion: v1
kind: Secret
metadata:
  name: miniflux-secret
  namespace: feeds
stringData:
  ADMIN_PASSWORD: 4zIKBoPvhoN64Bxw4cx0lehi
  DATABASE_URL: "postgres://dbadmin:0aug0sg0a0giae0gih0a@postgresql.database.svc.cluster.local:5432/miniflux?sslmode=disable"
