---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./grocy/ks.yaml
  - ./mealie/ks.yaml
  - ./firefly-iii/ks.yaml
  - ./gitea/ks.yaml
  - ./actual/ks.yaml
