---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  SECRET_DOMAIN: "{{ bootstrap_cloudflare_domain }}"
  SECRET_ACME_EMAIL: "{{ bootstrap_acme_email }}"
  SECRET_CLOUDFLARE_TUNNEL_ID: "{{ bootstrap_cloudflare_tunnel_id }}"
  NFS_SERVER: "{{ media_nfs_host }}"
  NFS_TV: "{{ media_nfs_tv }}"
  NFS_MOVIES: "{{ media_nfs_movies }}"
  NFS_MUSIC: "{{ media_nfs_music }}"
  NFS_BACKUP: "{{ media_nfs_backup }}"
