---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app sonarr
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      # renovate: registryUrl=https://bjw-s.github.io/helm-charts/
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: lscr.io/linuxserver/sonarr
      tag: latest
    containers:
      main:
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ready
                port: &port 8989
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
          startup:
            enabled: false

    env:
      TZ: ${TIMEZONE}
      PUID: 1000
      PGID: 1000

    service:
      main:
        ports:
          http:
            port: 8989

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: |
            10.0.0.0/8,172.16.0.0/12,192.168.1.0/24
          hajimari.io/enable: "true"
          hajimari.io/icon: "television-box"
        hosts:
          - host: &host "sonarr.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podSecurityContext:
      supplementalGroups:
        - 1000

    persistence:
      config:
        enabled: true
        mountPath: /config
        storageClass: longhorn
        size: 1Gi
        retain: true

      downloads:
        enabled: true
        mountPath: /downloads
        type: custom
        volumeSpec:
          nfs:
            server: "{{ media_nfs_host }}"
            path: "{{ media_nfs_downloads_path }}"

      tv:
        enabled: true
        mountPath: /tv
        type: custom
        volumeSpec:
          nfs:
            server: "{{ media_nfs_host }}"
            path: "{{ media_nfs_tv_path }}"

    resources:
      requests:
        cpu: 15m
        memory: 335Mi
      limits:
        memory: 600Mi

    sidecars:
      exporter:
        image: ghcr.io/onedr0p/exportarr:v1.6.0
        args:
          - *app
        env:
          URL: http://localhost
          CONFIG: /config/config.xml
          PORT: &metrics-port 9794
          ENABLE_ADDITIONAL_METRICS: true
          ENABLE_UNKNOWN_QUEUE_ITEMS: true
          API_KEY: random-value-will-be-overriden-by-config-xml
        ports:
          - name: metrics
            containerPort: *metrics-port
        volumeMounts:
          - name: config
            mountPath: /config

