---
apiVersion: v1
kind: Secret
metadata:
  name: sonarr-secret
stringData:
  SONARR__API_KEY: "{{ media_sonarr_api_key }}"
  SONARR__POSTGRES_MAIN_DB: sonarr_main
  SONARR__POSTGRES_LOG_DB: sonarr_log
  SONARR__POSTGRES_HOST: postgres.${SECRET_DOMAIN}
  SONARR__POSTGRES_USER: "dbadmin"
  SONARR__POSTGRES_PASSWORD: "{{ database_postgresql_password }}"
  INIT_POSTGRES_DBNAME: sonarr_main sonarr_log
  INIT_POSTGRES_HOST: postgres.${SECRET_DOMAIN}
  INIT_POSTGRES_USER: dbadmin
  INIT_POSTGRES_PASS: "{{ database_postgresql_password }}"
  INIT_POSTGRES_SUPER_PASS: "{{ database_postgresql_password }}"
