#jinja2: trim_blocks: True, lstrip_blocks: True
---
apiVersion: v1
kind: Secret
metadata:
  name: seerr-secret
  namespace: media
type: Opaque
stringData:
  SECRETEncryptionKey: "{{ bootstrap_seerr_secretencryptionkey }}"
  SEERR__PASSWORD: "{{ bootstrap_seerr_seerr__password }}"
