---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app piped
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: piped
      version: 8.1.1
      sourceRef:
        kind: HelmRepository
        name: piped
        namespace: flux-system
  maxHistory: 2

  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: false
    remediation:
      retries: 3

  uninstall:
    keepHistory: true
  values:
    ingress:
      backend:
        enabled: true
        ingressClassName: "external"
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          external-dns.alpha.kubernetes.io/enabled: "true"
        hosts:
          - host: &backendhost "pipedapi.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *backendhost
      main:
        enabled: true
        ingressClassName: "external"
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          external-dns.alpha.kubernetes.io/enabled: "true"
        hosts:
          - host: &frontendhost "piped.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *frontendhost
      ytproxy:
        enabled: true
        ingressClassName: "external"
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          external-dns.alpha.kubernetes.io/enabled: "true"
        hosts:
          - host: &proxyhost "ytproxy.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *proxyhost

    frontend:
      env:
        DISABLE_REGISTRATION: false
        BACKEND_HOSTNAME: "pipedapi.${SECRET_DOMAIN}"

    main:
      env:
        DISABLE_REGISTRATION: false
        BACKEND_HOSTNAME: "pipedapi.${SECRET_DOMAIN}"

    backend:
      config:
        database:
          connection_url: jdbc:postgresql://postgresql.database.svc.cluster.local:5432/piped
          driver_class: org.postgresql.Driver
          dialect: org.hibernate.dialect.PostgreSQLDialect
          secret:
            name: piped-secret

