---
apiVersion: v1
kind: Secret
metadata:
  name: piped-secret
  namespace: media
stringData:
  hostname: "{{ database_postgresql_hostname }}"
  .Values.backend.config.database.secret.username: "{{ database_postgresql_username }}"
  .Values.backend.config.database.secret.password: "{{ database_postgresql_password }}"
