---
apiVersion: v1
kind: Secret
metadata:
  name: piped-secret
  namespace: media
stringData:
  backend.config.database.secret.username: "{{ database_postgresql_username }}"
  backend.config.database.secret.password: "{{ database_postgresql_password }}"
