---
apiVersion: v1
kind: Secret
metadata:
  name: piped-secret
  namespace: media
stringData:
  hostname: "{{ database_postgresql_hostname }}"
  username: "{{ database_postgresql_username }}"
  password: "{{ database_postgresql_password }}"
  DB_USERNAME: "{{ database_postgresql_username }}"
  DB_PASSWORD: "{{ database_postgresql_password }}"
