---
apiVersion: v1
kind: Secret
metadata:
  name: firefly-iii-secrets
stringData:
  DBUSER: "{{ home_firefly3_db_user }}"
  PGPASSWORD: "{{ home_firefly3_db_pw }}"
  db_password: "{{ home_firefly3_db_pw }}"
  app_key: "{{ home_firefly3_app_key }}"
  access_token: "{{ home_firefly3_access_token }}"
  static_cron_token: "{{ home_firefly3_cron_token }}"
